/* .ChallengeCards {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 5px 5px 5px 5px;

  max-width: 20%;
  min-width: 20%;

  height: 100px;
}

.ChallengeCards-Text {
  max-width: 70%;
  margin: auto;  
  color:black;
} */
