.CloudCoin-Body {
  position: absolute; /* Overlay on element without disturbing parent layout */
}

.CloudCoin-Icon {
  position: relative;

  right: -80px;
  bottom: -42px;
  width: 45px; /* Covers both width and height for SVGs*/
}

.CloudCoin-RewardText {
  position: relative;
  font-weight: bold;
  left: 80px;
  bottom: -14px;
}
